In [1]:

import pandas as pd
import requests

useallitens = "https://extracao.useallcloud.com.br/api/v1/json/?FiltrosSqlQuery=%5B%20%7B%20%22Nome%22%3A%20%22DATAHORAALTERACAOINI%22%2C%20%22Valor%22%3A%20%2201%2F01%2F1900%22%2C%20%22Operador%22%3A%20null%2C%20%22Descricao%22%3A%20null%2C%20%22ValorFormatado%22%3A%20null%20%7D%2C%20%7B%20%22Nome%22%3A%20%22DATAHORAALTERACAOFIM%22%2C%20%22Valor%22%3A%20%2227%2F02%2F2024%22%2C%20%22Operador%22%3A%20null%2C%20%22Descricao%22%3A%20null%2C%20%22ValorFormatado%22%3A%20null%20%7D%5D&pagina=1&qtderegistros=1&Identificacao=m2_estoque_item"

headers = {
    "accept": "application/json",
    "use-relatorio-token": "eyJJZCI6ImNkMDNkMzhiLWZhNzUtNDg4Yi04NDA1LTg5OTU1MzBjNjFiMSIsIlN0cmluZ0NvbmV4YW8iOiJBeHh4IFh2a2VqST10bGRxZGZ4Rzk7c3FJMSBCbz1ScUl4WHlnYWVoO2dNcXp6djFvPXNxSXVleGd5SW5TSSQkOyIsIkNvZGlnb1VzdWFyaW8iOjczMzIsIkNvZGlnb1RlbmFudCI6MTQzfQ=="
}

responseuseallitens = requests.get(useallitens, headers=headers)

datauseallitens = responseuseallitens.json()
dfuseallitens = pd.DataFrame(datauseallitens)
dfuseallitens.head()

,IDITEM,DATAHORAALTERACAO,IDENTIFICACAO,DESCRICAO,IDCLASSFISCAL,IDUN,IDUNVENDA,QUANTEMBVENDA,PESOBRUTO,PESOLIQ,OBS,ATIVO,COMPLEMENTO,IDGRUPOITEM,IDTIPOITEM,QUANTMINVENDA,CODBARRA,LIBERADO,FORMATOCODBAR
0,463268,2024-02-22T23:22:03,28286,"CABO FLEXIVEL 1,5 BRANCO",688619,1838,1838.0,1.0,0.0,0.0,None,0,None,7667.0,1228,0.0,None,S,NaN
1,407012,2023-01-26T16:04:57,434777,"CASCATA RED 40CM P/05 LAMP. GU10 DNA 1,4M DNA4...",683769,1818,1818.0,0.0,0.0,0.0,None,0,None,7654.0,1228,1.0,None,S,NaN
2,406785,2023-01-31T11:41:15,434597,LUSTRE SÃO PETERSBURGO 5 BRAÇOS METAL Ø54X58 B...,683769,1818,1818.0,0.0,0.0,0.0,None,0,None,7654.0,1228,1.0,None,S,NaN
3,406724,2023-03-28T17:42:13,18040,SAPATO SOCIAL COM CADARÇO N37 PRETO,689382,1833,1833.0,0.0,0.0,0.0,None,0,None,7645.0,1362,0.0,None,S,NaN
4,406262,2023-01-26T15:03:17,434358,PENDENTE CABO PORTA LÂMPADAS HANG 5500MM IP65 ...,683769,1818,1818.0,0.0,0.0,0.0,None,0,None,7654.0,1228,1.0,None,S,NaN

In [2]:
useallunidades = "https://extracao.useallcloud.com.br/api/v1/json/?FiltrosSqlQuery=%5B%20%7B%20%22Nome%22%3A%20%22DATAHORAALTERACAOINI%22%2C%20%22Valor%22%3A%20%2201%2F01%2F1900%22%2C%20%22Operador%22%3A%20null%2C%20%22Descricao%22%3A%20null%2C%20%22ValorFormatado%22%3A%20null%20%7D%2C%20%7B%20%22Nome%22%3A%20%22DATAHORAALTERACAOFIM%22%2C%20%22Valor%22%3A%20%2227%2F02%2F2024%22%2C%20%22Operador%22%3A%20null%2C%20%22Descricao%22%3A%20null%2C%20%22ValorFormatado%22%3A%20null%20%7D%5D&pagina=1&qtderegistros=1&Identificacao=m2_estoque_unidade"

headers = {
    "accept": "application/json",
    "use-relatorio-token": "eyJJZCI6ImNkMDNkMzhiLWZhNzUtNDg4Yi04NDA1LTg5OTU1MzBjNjFiMSIsIlN0cmluZ0NvbmV4YW8iOiJBeHh4IFh2a2VqST10bGRxZGZ4Rzk7c3FJMSBCbz1ScUl4WHlnYWVoO2dNcXp6djFvPXNxSXVleGd5SW5TSSQkOyIsIkNvZGlnb1VzdWFyaW8iOjczMzIsIkNvZGlnb1RlbmFudCI6MTQzfQ=="
}

responseuseallunidades = requests.get(useallunidades, headers=headers)

datauseallunidades = responseuseallunidades.json()
dfuseallunidades = pd.DataFrame(datauseallunidades)
dfuseallunidades.head()

,IDUN,IDUNIDADETENANT,DESCRICAO,SIGLA,SIGLAFCI,DATAHORAALTERACAO,STATUS
0,1818,1,UNIDADE,UN,UN,2022-09-23T11:46:05,Ativo
1,1819,2,CAIXA,CX,CX,1900-01-01T00:00:00,Ativo
2,1821,4,GRAMA,G,G,1900-01-01T00:00:00,Ativo
3,1822,5,QUILOGRAMA,KG,KG,1900-01-01T00:00:00,Ativo
4,1823,6,METRO QUADRADO,M2,M2,1900-01-01T00:00:00,Ativo

In [3]:
useallsegmentos = "https://extracao.useallcloud.com.br/api/v1/json/?FiltrosSqlQuery=%5B%20%7B%20%22Nome%22%3A%20%22DATAHORAALTERACAOINI%22%2C%20%22Valor%22%3A%20%2201%2F01%2F1900%22%2C%20%22Operador%22%3A%20null%2C%20%22Descricao%22%3A%20null%2C%20%22ValorFormatado%22%3A%20null%20%7D%2C%20%7B%20%22Nome%22%3A%20%22DATAHORAALTERACAOFIM%22%2C%20%22Valor%22%3A%20%2227%2F02%2F2024%22%2C%20%22Operador%22%3A%20null%2C%20%22Descricao%22%3A%20null%2C%20%22ValorFormatado%22%3A%20null%20%7D%5D&pagina=1&qtderegistros=1&Identificacao=m2_vendas_segmento"

headers = {
    "accept": "application/json",
    "use-relatorio-token": "eyJJZCI6ImNkMDNkMzhiLWZhNzUtNDg4Yi04NDA1LTg5OTU1MzBjNjFiMSIsIlN0cmluZ0NvbmV4YW8iOiJBeHh4IFh2a2VqST10bGRxZGZ4Rzk7c3FJMSBCbz1ScUl4WHlnYWVoO2dNcXp6djFvPXNxSXVleGd5SW5TSSQkOyIsIkNvZGlnb1VzdWFyaW8iOjczMzIsIkNvZGlnb1RlbmFudCI6MTQzfQ=="
}

responseuseallsegmentos = requests.get(useallsegmentos, headers=headers)

datauseallsegmentos = responseuseallsegmentos.json()
dfuseallsegmentos = pd.DataFrame(datauseallsegmentos)
dfuseallsegmentos.head()

Empty DataFrame
Columns: []
Index: []

In [4]:
useallcidades = "https://extracao.useallcloud.com.br/api/v1/json/?FiltrosSqlQuery=%5B%20%7B%20%22Nome%22%3A%20%22DATAHORAALTERACAOINI%22%2C%20%22Valor%22%3A%20%2201%2F01%2F1900%22%2C%20%22Operador%22%3A%20null%2C%20%22Descricao%22%3A%20null%2C%20%22ValorFormatado%22%3A%20null%20%7D%2C%20%7B%20%22Nome%22%3A%20%22DATAHORAALTERACAOFIM%22%2C%20%22Valor%22%3A%20%2227%2F02%2F2024%22%2C%20%22Operador%22%3A%20null%2C%20%22Descricao%22%3A%20null%2C%20%22ValorFormatado%22%3A%20null%20%7D%5D&pagina=1&qtderegistros=1&Identificacao=m2_geral_cidades"

headers = {
    "accept": "application/json",
    "use-relatorio-token": "eyJJZCI6ImNkMDNkMzhiLWZhNzUtNDg4Yi04NDA1LTg5OTU1MzBjNjFiMSIsIlN0cmluZ0NvbmV4YW8iOiJBeHh4IFh2a2VqST10bGRxZGZ4Rzk7c3FJMSBCbz1ScUl4WHlnYWVoO2dNcXp6djFvPXNxSXVleGd5SW5TSSQkOyIsIkNvZGlnb1VzdWFyaW8iOjczMzIsIkNvZGlnb1RlbmFudCI6MTQzfQ=="
}

responseuseallcidades = requests.get(useallcidades, headers=headers)

datauseallcidades = responseuseallcidades.json()
dfuseallcidades = pd.DataFrame(datauseallcidades)
dfuseallcidades.head()

,IDCIDADE,DATAHORAALTERACAO,NOME,MUNICIPIO_IBGE,IDNFSE,CODIGORFB,DATAHORACAD,CODIBGE,SIGLA
0,5565,1900-01-01T00:00:00,Balneário Rincão,4220000,5613.0,1192.0,1900-01-01T00:00:00,42,SC
1,5566,1900-01-01T00:00:00,NAO CADASTRADO,0,NaN,9707.0,1900-01-01T00:00:00,42,SC
2,5567,2018-11-08T17:42:17,Pescaria Brava,4212650,5614.0,1194.0,2018-11-08T17:42:02,42,SC
3,268416,1900-01-01T00:00:00,Praia de Fora,9999999,NaN,NaN,1900-01-01T00:00:00,42,SC
4,268482,1900-01-01T00:00:00,Sangao,4215455,NaN,NaN,1900-01-01T00:00:00,42,SC

In [5]:
useallsolcompra = "https://extracao.useallcloud.com.br/api/v1/json/?FiltrosSqlQuery=%5B%7B%20%22Nome%22%3A%20%22DataFim%22%2C%20%22Valor%22%3A%20%2201%2F01%2F2500%22%2C%20%22Operador%22%3A%20null%2C%20%22Descricao%22%3A%20null%2C%20%22ValorFormatado%22%3A%20null%20%7D%2C%20%7B%20%22Nome%22%3A%20%22DATAINI%22%2C%20%22Valor%22%3A%20%2201%2F01%2F1900%22%2C%20%22Operador%22%3A%20null%2C%20%22Descricao%22%3A%20null%2C%20%22ValorFormatado%22%3A%20null%20%7D%5D&pagina=1&qtderegistros=1&Identificacao=m2_compras_m2_compras_solicitacao_de_compras__extra"

headers = {
    "accept": "application/json",
    "use-relatorio-token": "eyJJZCI6ImNkMDNkMzhiLWZhNzUtNDg4Yi04NDA1LTg5OTU1MzBjNjFiMSIsIlN0cmluZ0NvbmV4YW8iOiJBeHh4IFh2a2VqST10bGRxZGZ4Rzk7c3FJMSBCbz1ScUl4WHlnYWVoO2dNcXp6djFvPXNxSXVleGd5SW5TSSQkOyIsIkNvZGlnb1VzdWFyaW8iOjczMzIsIkNvZGlnb1RlbmFudCI6MTQzfQ=="
}

responseuseallsolcompra = requests.get(useallsolcompra, headers=headers)

datauseallsolcompra = responseuseallsolcompra.json()
dfuseallsolcompra = pd.DataFrame(datauseallsolcompra)
dfuseallsolcompra.head()

,IDSOLICCOMPRA,IDEMPRESA,IDFILIAL,NUMERO,IDSOLICITANTE,OBS,STATUS,PRIMEIRADATANECESSIDADE,FINALIDADE,IDSOLICCOMPRAITEM,...,IDUN,QUANT,DATANECESSIDADE,COMPLEMENTO,SALDO,URGENTE,URGENTE_DESC,IDCONTACDC,CLASSIFICACAO,DESCRICAO
0,20254,211,334,118,1652272,None,Liberado,2019-07-08T00:00:00,Matéria-prima (Industrialização),61184,...,1818,3.0,2019-07-08T00:00:00,None,3.0,0,NÃO,NaN,None,None
1,20254,211,334,118,1652272,None,Liberado,2019-07-08T00:00:00,Matéria-prima (Industrialização),61185,...,1818,2.0,2019-07-08T00:00:00,None,2.0,0,NÃO,NaN,None,None
2,20254,211,334,118,1652272,None,Liberado,2019-07-08T00:00:00,Matéria-prima (Industrialização),61186,...,1818,4.0,2019-07-08T00:00:00,None,4.0,0,NÃO,NaN,None,None
3,20254,211,334,118,1652272,None,Liberado,2019-07-08T00:00:00,Matéria-prima (Industrialização),61187,...,1818,2.0,2019-07-08T00:00:00,None,2.0,0,NÃO,NaN,None,None
4,20254,211,334,118,1652272,None,Liberado,2019-07-08T00:00:00,Matéria-prima (Industrialização),61188,...,1818,1.0,2019-07-08T00:00:00,None,1.0,0,NÃO,NaN,None,None

In [6]:
useallfiliais = "https://extracao.useallcloud.com.br/api/v1/json/?FiltrosSqlQuery=%5B%20%7B%20%22Nome%22%3A%20%22DATAHORAALTINI%22%2C%20%22Valor%22%3A%20%2201%2F01%2F1900%2C%2011%3A00%3A00%22%2C%20%22Operador%22%3A%20null%2C%20%22Descricao%22%3A%20null%2C%20%22ValorFormatado%22%3A%20null%20%7D%2C%20%7B%20%22Nome%22%3A%20%22DATAHORAALTFIM%22%2C%20%22Valor%22%3A%20%2201%2F01%2F2500%2C%2014%3A00%3A00%22%2C%20%22Operador%22%3A%20null%2C%20%22Descricao%22%3A%20null%2C%20%22ValorFormatado%22%3A%20null%20%7D%5D&pagina=1&qtderegistros=1&Identificacao=m2_geral_filiais"

headers = {
    "accept": "application/json",
    "use-relatorio-token": "eyJJZCI6ImNkMDNkMzhiLWZhNzUtNDg4Yi04NDA1LTg5OTU1MzBjNjFiMSIsIlN0cmluZ0NvbmV4YW8iOiJBeHh4IFh2a2VqST10bGRxZGZ4Rzk7c3FJMSBCbz1ScUl4WHlnYWVoO2dNcXp6djFvPXNxSXVleGd5SW5TSSQkOyIsIkNvZGlnb1VzdWFyaW8iOjczMzIsIkNvZGlnb1RlbmFudCI6MTQzfQ=="
}

responseuseallfiliais = requests.get(useallfiliais, headers=headers)

datauseallfiliais = responseuseallfiliais.json()
dfuseallfiliais = pd.DataFrame(datauseallfiliais)
dfuseallfiliais.head()

,IDFILIAL,DATAHORAALT,IDEMPRESA,MATRIZ,APELIDO
0,379,2025-07-03T08:55:51,211,0,SETUP MATRIZ (ENDEREÇO DE ENTREGA)
1,381,2025-09-10T13:58:35,242,1,ENGECO PROJETOS E CONSTRUCOES LTDA
2,387,2025-08-14T16:18:20,211,0,SETUP PELOTAS
3,333,2026-01-05T17:13:43,211,1,SETUP AUTOMACAO E SEGURANCA
4,338,2023-05-03T10:38:49,212,1,WFF COMERCIO

In [7]:
useallempresas = "https://extracao.useallcloud.com.br/api/v1/json/?FiltrosSqlQuery=%5B%20%7B%20%22Nome%22%3A%20%22DATAHORAALTINI%22%2C%20%22Valor%22%3A%20%2201%2F01%2F2022%2C%2011%3A00%3A00%22%2C%20%22Operador%22%3A%20null%2C%20%22Descricao%22%3A%20null%2C%20%22ValorFormatado%22%3A%20null%20%7D%2C%20%7B%20%22Nome%22%3A%20%22DATAHORAALTFIM%22%2C%20%22Valor%22%3A%20%2226%2F02%2F2024%2C%2014%3A00%3A00%22%2C%20%22Operador%22%3A%20null%2C%20%22Descricao%22%3A%20null%2C%20%22ValorFormatado%22%3A%20null%20%7D%5D&pagina=1&qtderegistros=1&Identificacao=m2_geral_empresas"

headers = {
    "accept": "application/json",
    "use-relatorio-token": "eyJJZCI6ImNkMDNkMzhiLWZhNzUtNDg4Yi04NDA1LTg5OTU1MzBjNjFiMSIsIlN0cmluZ0NvbmV4YW8iOiJBeHh4IFh2a2VqST10bGRxZGZ4Rzk7c3FJMSBCbz1ScUl4WHlnYWVoO2dNcXp6djFvPXNxSXVleGd5SW5TSSQkOyIsIkNvZGlnb1VzdWFyaW8iOjczMzIsIkNvZGlnb1RlbmFudCI6MTQzfQ=="
}

responseuseallempresas = requests.get(useallempresas, headers=headers)

datauseallempresas = responseuseallempresas.json()
dfuseallempresas = pd.DataFrame(datauseallempresas)
dfuseallempresas.head()

,IDEMPRESA,DATAHORAALT,CNPJCPF,RAZAOSOCIAL,NOMEFANTASIA,IE,IM,ENDERECO,BAIRRO,CEP,FONE,FAX,EMAIL,IDCIDADE
0,214,2022-10-10T11:27:35,15019484000198,VIGILANCIA SETUP EIRELI,SETUP VIGILANCIA,256635404,43949,"RUA SAO MARTINHO,",UNIVERSITARIO,88805360,4899241469,None,controller@gruposetup.com.br,1
1,215,2023-03-27T17:39:31,34381213000122,SETUP COMERCIO DE PRODUTOS LTDA,SETUP COMERCIO,260177164,,R GIACOMO SONEGO NETO,PINHEIRINHO,88804440,4830454553,None,contabil@gruposetup.com,1
2,216,2022-06-14T15:48:17,34306437000170,VM COMÉRCIO E DISTRIBUIÇÃO DE MATERIAIS ELÉTRI...,VM,260168084,,RUA GOVERNADOR JORGE LACERDA,ALTO FELIZ,88905032,4835270001,None,controller@gruposetup.com,23
3,249,2023-04-25T18:07:06,48858342000173,FFW ADMINISTRADORA DE BENS LTDA,FFW ADMINISTRADORA DE BENS LTDA,None,None,R BORTOLO PAVAN,Universitário,88805355,4899621417,None,FILIPE@GRUPOSETUP.COM,1

In [8]:
useallexpedição = "https://extracao.useallcloud.com.br/api/v1/json/?FiltrosSqlQuery=%5B%20%7B%20%22Nome%22%3A%20%22data1%22%2C%20%22Valor%22%3A%20%2201%2F01%2F1900%22%2C%20%22Operador%22%3A%20null%2C%20%22Descricao%22%3A%20null%2C%20%22ValorFormatado%22%3A%20null%20%7D%2C%20%7B%20%22Nome%22%3A%20%22data2%22%2C%20%22Valor%22%3A%20%2201%2F01%2F2500%22%2C%20%22Operador%22%3A%20null%2C%20%22Descricao%22%3A%20null%2C%20%22ValorFormatado%22%3A%20null%20%7D%5D&pagina=1&qtderegistros=1&Identificacao=m2_vendas_extracao_de_dados__saida_expedicao"

headers = {
    "accept": "application/json",
    "use-relatorio-token": "eyJJZCI6ImNkMDNkMzhiLWZhNzUtNDg4Yi04NDA1LTg5OTU1MzBjNjFiMSIsIlN0cmluZ0NvbmV4YW8iOiJBeHh4IFh2a2VqST10bGRxZGZ4Rzk7c3FJMSBCbz1ScUl4WHlnYWVoO2dNcXp6djFvPXNxSXVleGd5SW5TSSQkOyIsIkNvZGlnb1VzdWFyaW8iOjczMzIsIkNvZGlnb1RlbmFudCI6MTQzfQ=="
}

responseuseallexpedição = requests.get(useallexpedição, headers=headers)

datauseallexpedição = responseuseallexpedição.json()
dfuseallexpedição = pd.DataFrame(datauseallexpedição)
dfuseallexpedição.head()

,CODIGOFAT,DATAHORACAD,DATAENTREGA,CONFERENCIA,ORIGEMCONFERENCIA,DESCRICAOORIGEMCONFERENCIA,ORIGEM,CODIGOOIRIGEM,NUMERODOC,NUMEROPEDIDOCLIENTE,...,ORDEM,CODIGOFILIAL,CODIGOEMPRESA,PLACA,ORDEMENTREGA,DATAPREVCARREG,STATUSCONF,CODIGOTRANSPTENANT,DATAHORAPREPARACAO,IDPEDITEM
0,4963764,2024-06-18T12:11:58,0001-01-01T00:00:00,INICIADA,0.0,MANUAL,MANUAL,0,0,None,...,0,336,211,None,None,None,2,NaN,None,0
1,4994034,2024-06-24T13:42:44,0001-01-01T00:00:00,INICIADA,0.0,MANUAL,MANUAL,0,0,None,...,0,381,242,None,None,None,2,NaN,None,0
2,4994217,2024-06-24T13:47:18,0001-01-01T00:00:00,INICIADA,0.0,MANUAL,MANUAL,0,0,None,...,0,381,242,None,None,None,2,NaN,None,0
3,4994277,2024-06-24T13:50:34,0001-01-01T00:00:00,INICIADA,0.0,MANUAL,MANUAL,0,0,None,...,0,333,211,None,None,None,2,NaN,None,0
4,4994258,2024-06-24T13:50:34,0001-01-01T00:00:00,INICIADA,0.0,MANUAL,MANUAL,0,0,None,...,0,333,211,None,None,None,2,NaN,None,0

In [9]:
# List all DataFrames loaded in memory
dfs = {
    'dfuseallitens': dfuseallitens,
    'dfuseallunidades': dfuseallunidades,
    'dfuseallsegmentos': dfuseallsegmentos,
    'dfuseallcidades': dfuseallcidades,
    'dfuseallsolcompra': dfuseallsolcompra,
    'dfuseallfiliais': dfuseallfiliais,
    'dfuseallempresas': dfuseallempresas,
    'dfuseallexpedição': dfuseallexpedição
}

# gere um .parquet para cada DataFrame
for name, df in dfs.items():
    df.to_parquet(f'{name}.parquet', index=False)

In [10]:
useallclientesfornecedore = "https://extracao.useallcloud.com.br/api/v1/json/?FiltrosSqlQuery=%5B%20%7B%20%22Nome%22%3A%20%22DATAHORAALTERACAOINI%22%2C%20%22Valor%22%3A%20%2201%2F01%2F1900%22%2C%20%22Operador%22%3A%20null%2C%20%22Descricao%22%3A%20null%2C%20%22ValorFormatado%22%3A%20null%20%7D%2C%20%7B%20%22Nome%22%3A%20%22DATAHORAALTERACAOFIM%22%2C%20%22Valor%22%3A%20%2227%2F02%2F2024%22%2C%20%22Operador%22%3A%20null%2C%20%22Descricao%22%3A%20null%2C%20%22ValorFormatado%22%3A%20null%20%7D%5D&pagina=1&qtderegistros=1&Identificacao=m2_geral_clientes__fornecedores"

headers = {
    "accept": "application/json",
    "use-relatorio-token": "eyJJZCI6ImNkMDNkMzhiLWZhNzUtNDg4Yi04NDA1LTg5OTU1MzBjNjFiMSIsIlN0cmluZ0NvbmV4YW8iOiJBeHh4IFh2a2VqST10bGRxZGZ4Rzk7c3FJMSBCbz1ScUl4WHlnYWVoO2dNcXp6djFvPXNxSXVleGd5SW5TSSQkOyIsIkNvZGlnb1VzdWFyaW8iOjczMzIsIkNvZGlnb1RlbmFudCI6MTQzfQ=="
}

responseuseallclientesfornecedore = requests.get(useallclientesfornecedore, headers=headers)

if responseuseallclientesfornecedore.status_code == 200:
    datauseallclientesfornecedore = responseuseallclientesfornecedore.json()
    dfuseallclientesfornecedore = pd.DataFrame(datauseallclientesfornecedore)
    print(f"Successfully loaded clients/suppliers data. Shape: {dfuseallclientesfornecedore.shape}")
    dfuseallclientesfornecedore.head()
else:
    print(f"Error: API returned status code {responseuseallclientesfornecedore.status_code}")
    print(f"Response: {responseuseallclientesfornecedore.text}")
    dfuseallclientesfornecedore = pd.DataFrame()

Successfully loaded clients/suppliers data. Shape: (23163, 54)

In [11]:
import json
import urllib.parse
import requests
import pandas as pd

BASE_URL = "https://extracao.useallcloud.com.br/api/v1/json/"

filtros_sql = [
    {
        "Nome": "IDFILIAL",
        "Valor": [333,334,335,336,387,404,520,558,578,339,340,342,343,341,344,345,346,381,389,390],
        "Operador": 1,
        "Descricao": "Filial",
        "ValorFormatado": "SETUP AUTOMACAO E SEGURANCA",
        "TipoPeriodoData": None
    },
    {
        "Nome": "DATA",
        "Valor": "01/01/1900,01/01/2900",
        "Operador": 8,
        "Descricao": "Data da requisição",
        "ValorFormatado": "01/01/1900 até 01/01/2900",
        "TipoPeriodoData": 1
    },
    {
        "Nome": "DATAPREVATEND",
        "Valor": "01/01/1900,01/01/2900",
        "Operador": 8,
        "Descricao": "Previsão atendimento",
        "ValorFormatado": "01/01/1900 até 01/01/2900",
        "TipoPeriodoData": 1
    },
    {"Nome": "CLASSGRUPOITEM", "Valor": ""},
    {"Nome": "CLASSCONTACDC", "Valor": ""},
    {"Nome": "quebra", "Valor": 0},
    {
        "Nome": "FILTROSWHERE",
        "Valor": " AND IDEMPRESA = 211"
    }
]

filtros_json = json.dumps(filtros_sql, ensure_ascii=False)
filtros_encoded = urllib.parse.quote(filtros_json)

useallrequisicoes = (
    f"{BASE_URL}"
    f"?Identificacao=m2_estoque_requisicao_de_materiais"
    f"&FiltrosSqlQuery={filtros_encoded}"
)

headers = {
    "accept": "application/json",
    "use-relatorio-token": "eyJJZCI6ImNkMDNkMzhiLWZhNzUtNDg4Yi04NDA1LTg5OTU1MzBjNjFiMSIsIlN0cmluZ0NvbmV4YW8iOiJBeHh4IFh2a2VqST10bGRxZGZ4Rzk7c3FJMSBCbz1ScUl4WHlnYWVoO2dNcXp6djFvPXNxSXVleGd5SW5TSSQkOyIsIkNvZGlnb1VzdWFyaW8iOjczMzIsIkNvZGlnb1RlbmFudCI6MTQzfQ=="
}

responseuseallrequisicoes = requests.get(
    useallrequisicoes,
    headers=headers,
    timeout=60
)

if responseuseallrequisicoes.status_code == 200:
    datauseallrequisicoes = responseuseallrequisicoes.json()
    dfuseallrequisicoes = pd.DataFrame(datauseallrequisicoes)
    print(f"Loaded successfully. Shape: {dfuseallrequisicoes.shape}")
else:
    print("Erro:", responseuseallrequisicoes.status_code)
    print(responseuseallrequisicoes.text)
    dfuseallrequisicoes = pd.DataFrame()

dfuseallrequisicoes.to_parquet('dfuseallrequisicoes.parquet', index=False)

Loaded successfully. Shape: (675820, 39)

In [12]:
import json
import urllib.parse
import requests
import pandas as pd

BASE_URL = "https://extracao.useallcloud.com.br/api/v1/json/"

filtros_sql = [
    {
        "Nome": "ADDATA",
        "Valor": "08/01/2026"
    },
    {
        "Nome": "FILTROSWHERE",
        "Valor": (
            " AND EXISTS ("
            "SELECT 1 FROM USE_USUARIOS_FILIAIS UFILIAIS "
            "WHERE UFILIAIS.IDEMPRESA = T.IDEMPRESA "
            "AND UFILIAIS.IDFILIAL = T.IDFILIAL "
            "AND UFILIAIS.IDUSUARIO = 7332"
            ") "
            "AND T.IDFILIAL IN (333,334,336,404,335,387,520,558,578)"
        )
    },
    {
        "Nome": "ANQUEBRA",
        "Valor": 0
    }
]

filtros_json = json.dumps(filtros_sql, ensure_ascii=False)
filtros_encoded = urllib.parse.quote(filtros_json)

useallestoque = (
    f"{BASE_URL}"
    f"?Identificacao=09249662000174_m2_estoque_saldo_de_estoque__setup"
    f"&FiltrosSqlQuery={filtros_encoded}"
)

headers = {
    "accept": "application/json",
    "use-relatorio-token": "eyJJZCI6ImNkMDNkMzhiLWZhNzUtNDg4Yi04NDA1LTg5OTU1MzBjNjFiMSIsIlN0cmluZ0NvbmV4YW8iOiJBeHh4IFh2a2VqST10bGRxZGZ4Rzk7c3FJMSBCbz1ScUl4WHlnYWVoO2dNcXp6djFvPXNxSXVleGd5SW5TSSQkOyIsIkNvZGlnb1VzdWFyaW8iOjczMzIsIkNvZGlnb1RlbmFudCI6MTQzfQ=="
}

response = requests.get(
    useallestoque,
    headers=headers,
    timeout=60
)

if response.status_code == 200:
    datauseallestoque = response.json()
    dfuseallestoque = pd.DataFrame(datauseallestoque)
    print(f"Loaded successfully. Shape: {dfuseallestoque.shape}")
else:
    print("Erro:", response.status_code)
    print(response.text)
    dfuseallestoque = pd.DataFrame()

dfuseallestoque.to_parquet('dfuseallestoque.parquet', index=False)

Loaded successfully. Shape: (132495, 24)

In [ ]:
import requests
import urllib.parse
import json

base_url = "https://extracao.useallcloud.com.br/api/v1/json"

filtros_sql_query = json.dumps([
    {
        "Nome": "FILTROSWHERE",
        "Valor": (
            "WHERE IDEMPRESA = 211 "
            "AND IDFILIAL IN (333,334,335,336,387,404,520,558,339,578,340,342,343,341,344,345,346,381,389,390) "
            "AND DATA_REQ >= '01/01/1900' AND DATA_REQ <= '01/01/2900' "
            "AND DATA_ATEND >= '01/01/1900' AND DATA_ATEND <= '01/01/2900'"
        )
    }
])

params = {
    "Identificacao": "m2_estoque_atendimentos_de_requisicao",
    "NomeOrganizacao": "SETUP SERVICOS ESPECIALIZADOS LTDA",
    "Parametros": json.dumps([
        {"Nome": "usecellmerging", "Valor": True},
        {"Nome": "quebra", "Valor": 0},
        {
            "Nome": "filter",
            "Valor": (
                "Filial: SETUP AUTOMACAO E SEGURANCA, LOJA - ARARANGUA, LOJA - CRICIUMA\n"
                "Data requisição: 01/01/1900 até 01/01/2900\n"
                "Data atendimento: 01/01/1900 até 01/01/2900"
            )
        }
    ]),
    "FiltrosSqlQuery": filtros_sql_query
}

headers = {
    "accept": "application/json",
    "use-relatorio-token": "eyJJZCI6ImNkMDNkMzhiLWZhNzUtNDg4Yi04NDA1LTg5OTU1MzBjNjFiMSIsIlN0cmluZ0NvbmV4YW8iOiJBeHh4IFh2a2VqST10bGRxZGZ4Rzk7c3FJMSBCbz1ScUl4WHlnYWVoO2dNcXp6djFvPXNxSXVleGd5SW5TSSQkOyIsIkNvZGlnb1VzdWFyaW8iOjczMzIsIkNvZGlnb1RlbmFudCI6MTQzfQ=="
}

url_final = f"{base_url}?{urllib.parse.urlencode(params)}"

response = requests.get(url_final, headers=headers)
response.raise_for_status()

dados = response.json()

import pandas as pd
datauseallatendimentodereq = dados

dfuseallatendimentodereq = pd.DataFrame(datauseallatendimentodereq)

dfuseallatendimentodereq.to_parquet('dfuseallatendimentodereq.parquet', index=False)

In [ ]:
# extrair o extrato de estoque - fim

# Extrato de estoque não tem de todos de uma vez tem que passar item por item, vai ser bem demorado, ja que tem 3min de limite por consulta... verificar com Alan a necessidade dessa informação